body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mini {
  color: skyblue;
}

.large {
  text-align: center;
}

.medium {
  text-align: center;
  color: #bdbdbd;
}

.button {
  /* 자식의 배치도 css */
  display: flex;
  /* 가운데로 맞춰줘 */
  justify-content: center;
  /* 자식들의 간격을 10px */
  gap: 10px;

  color: black;
  background-color: white;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* 두께 스타일 */
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}

.icon {
  display: flex;
  /* 가운데로 맞춰줘 */
  align-items: center;
  font-size: 30px;
}

.apple {
  color: black;
  background-color: white;
}

.google {
  color: white;
  background-color: #252b42;
}

.download {
  display: flex;
  gap: 20px;
}
